@page
@model ContactModel
@{
    ViewBag.Title = "Home page";
}

<div class="row overflow-auto" style="height: 75vh;">
    <div class="col-md-12">
        <form method="post">
            <input type="email" name="emailaddress">
            <input type="text" name="name">
            <input type="submit" />
        </form>
    </div>
</div>

