.navbar-default {
    background-color: #232D4B;
    border-color: #AA0000;
    border-radius: 0;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #FFF;
}

.navbar-default .navbar-nav > li > a {
    color: #E57200;
    border-top-style: groove;
    border-top-color: #FFF;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #232D4B;
    background-color: #E57200;
    border-top-style: groove;
    border-top-color: #FFF;
    border-radius: 3px;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #232D4B;
    background-color: #E57200;
    border-radius: 3px;
}

.navbar-default .navbar-text {
    color: #232D4B;
}

.navbar-default .navbar-toggle {
    border-color: #AA0000;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #AA0000;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFF;
}