/* Page styles
-------------------------------------------------- */
html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
    --backgroundColor: lightgray; /*Menus and Navbar*/
    --primaryColor: #232D4B; /*Jefferson Blue*/
    --secondaryColor: #E57200; /*Rotunda Orange*/
    /*background-color: var(--primaryColor);*/
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.background {
    background-color: var(--backgroundColor);
}

.background-reverse {
    background-color: var(--secondaryColor);
}

.font-color {
    background-color: var(--secondaryColor);
}

.font-color-reverse {
    background-color: var(--primaryColor);
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn {
    color: var(--secondaryColor);
    background-color: var(--backgroundColor);
    border-width: 0px;
}

.btn-menu-left {
    border-left-style: groove;
    border-left-color: #FFF;
    border-left-width: 5px;
}

.btn-menu-navbar {
    border-top-style: groove;
    border-top-color: #FFF;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    color: #232D4B;
    background-color: var(--secondaryColor);
    /*color: var(--primaryColor);
    background-color: var(--secondaryColor);*/
}

.btn:hover {
    color: var(--primaryColor);
    background-color: var(--secondaryColor);
    border-top-style: groove;
    border-top-color: #FFF;
    border-radius: 3px;
}

.btn:active, .btn.active {
    color: var(--primaryColor);
    background-color: var(--secondaryColor);
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */

